.container{
    display: flex;
    max-width: 300px;
    flex-wrap: wrap;
    border:1px solid greenyellow;
    margin:0 auto;
}
h1{
    flex:1 1 100%;
    text-align: center;
}
.box{
    flex:1 1 100%;
    margin:2px;
    padding:5px;
    border:1px solid rgb(170, 166, 166);
    background-color:green;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(211, 149, 197);
}